{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | UVA Sustainability Marketplace</title>
    <link
      rel="stylesheet"
      href="{% static 'marketplace/css/style.css' %}?{% now 'U' %}"
    />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header class="title">
      <img src="{% static 'marketplace/images/Marketplace_Logo.png' %}" />
      <h1 class="text">UVA Sustainability Secondhand Store</h1>
    </header>

    <div class="layout">
      <aside>
        <ul class="navbar">
          <li><a href="{% url 'user_home' %}">Home</a></li>
          <li><a href="{% url 'user_profile' %}">My Profile</a></li>
          <li>My Listings</li>
          <li>Bookmarked</li>
          <li>Chat</li>
          <li>Tasks</li>
        </ul>
      </aside>
    </div>

    <main class="content">
      <div class="content-wrapper">{% block content %}{% endblock %}</div>
    </main>
  </body>
</html>
