{% extends "marketplace/base_moderator.html" %}
{% block content %}

<style>

.rule {
  margin-left: 20px;
  padding-bottom: 5px;
}

</style>

   <section class="moderator-home">
    <h2>Home</h2>
    
    <p>Welcome back, <strong>{{ user.nickname}}</strong>! You have moderator privileges.</p>
    
    <p><strong> A few reminders about having moderator privileges: </strong></p>
    <ol class="moderator-section">
        <li class="rule"> Use your power responsibly. While you have the ability to control listings, users, and chats when there are problems,
            please do so only when there is inappropriate content. </li>
        <li class="rule"> If you suspect a user of inappropriate conduct, please opt to chat with them and evaluate the situation first before suspending/deleting their account.</li>
        <li class="rule"> If any situation is beyond your control or you do not know how to handle it, please contact the site admin. </li>
    </ol>
  </section>
{% endblock %}