.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: block;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.chatbox {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
} 

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.custom-chat-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

select {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}